body {
    padding-top: 50px; // navbar
}

.sheet {
    .basicbio {
        padding-top: 15px;

        .name {

        }

        .levels {
            .add {
                .class {
                    .numToAdd {
                        width: 3em;
                    }
                }
            }
        }
    }
}