<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="${ url_for('static', filename='css/index.css') }">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <title>Character Sheet</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Multi-Verse RPG Character Sheet</a>
                </div>
            </div>
        </nav>

        <div class="container sheet">
            <div class="basicbio">
                <div class="name">
                    <label for="charName">Full Character Name:</label>
                    <input type="text" name="charName">
                </div>
                <div class="levels">
                    <div class="listing">
                        <h3>Class Per Level</h3>
                        <div class="current">
                            
                        </div>
                    </div>
                    <div class="add">
                        <span class="class">
                            <label for="class">Add <input type="text" name="numToAdd" value="1" class="numToAdd" /> level(s) of class:</label>
                            <select name="select" id="select">
                                % for key in data['classes']:
                                    <option value="${key[1]}">${key[0]}</option>
                                % endfor 
                            </select>
                        </span>
                        <span class="add">
                            <button>Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </body>
</html>